<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSCameraUsageDescription</key>
    <string>For uploading images of jobs and documents.</string>

    <key>NSPhotoLibraryUsageDescription</key>
    <string>Sensaro needs photo library access to upload existing photos of forestry concerns.</string>

    <key>NSPhotoLibraryAddUsageDescription</key>
    <string>Used to save photos to your library.</string>

    <key>NSLocationWhenInUseUsageDescription</key>
    <string>Sensaro uses your location to accurately pin forestry concern reports on the map.</string>

    <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
    <string>Sensaro uses your location in the background to alert you to nearby fire activity.</string>

    <key>UIBackgroundModes</key>
    <array>
        <string>fetch</string>
        <string>location</string>
        <string>remote-notification</string>
        <string>processing</string>
    </array>

    <key>UIUserInterfaceStyle</key>
    <string>Light</string>

    <key>UILaunchScreen</key>
    <dict>
        <key>UIColorName</key>
        <string>LaunchBackground</string>
    </dict>
</dict>
</plist>
